@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

body{
	margin:0px;
	background-color:#FC9;
	font-family: 'Open Sans Condensed', sans-serif;
}

table{


}
a{
	text-decoration:none;
	color:red;
	font-weight:bold;
	font-size:40px;
	margin-left:20px;

}


#boton{
	margin-left:20px;
 font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
}
h1{
	font-size:50px;
	text-align:center;
}
.sup{
	background-color:red;
	border:none;
	font-size:25px;
	font-family: 'Oswald', sans-serif;
}
#tab1{
		margin:10px;
width:98%;
text-align:center;
}
.cont{
	font-size:18px;
}
.bor{
	color:green;
	font-family: 'Oswald', sans-serif;
}