@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

body{
	margin-left:20px;
    margin-top:20px;
	background-color:#FC9;
	font-family: 'Open Sans Condensed', sans-serif;
}
a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-left:40px;
}
